name: triggeo
description: A smart location reminder application based on OpenStreetMap.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.2.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  # 核心依赖
  flutter_riverpod: ^2.5.1
  flutter_map: ^6.1.0
  latlong2: ^0.9.0
  geolocator: ^11.0.0
  hive: ^2.2.3
  hive_flutter: ^1.1.0
  flutter_local_notifications: ^17.1.0

  # 修复报错必须添加的依赖
  go_router: ^13.2.0  # 路由库
  rxdart: ^0.27.7     # 修复 startWith 方法缺失

  # 其他
  uuid: ^4.3.3
  riverpod_annotation: ^2.3.5
  flutter_background_service: ^5.0.0 # 后台保活服务
  # UI与主题
  dynamic_color: ^1.6.8 # Material You 取色
  file_picker: ^8.0.0 # 选择音频文件
  vibration: ^1.9.0 # 震动控制
  # 工具
  intl: 0.18.1 # 国际化
  permission_handler: ^11.3.0 # 权限管理
  audioplayers: ^6.0.0 # 播放铃声

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
  build_runner: ^2.4.8
  riverpod_generator: ^2.4.0
  hive_generator: ^2.0.1

flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/audio/ # 预留给默认铃声