name: triggeo
description: A smart location reminder application based on OpenStreetMap.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.3.0 <4.0.0'

flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/audio/
    - assets/icons/

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  dio: ^5.4.1
  http: ^1.2.2

  flutter_riverpod: ^2.6.1
  riverpod_annotation: ^2.6.1

  flutter_map: ^8.2.2
  latlong2: ^0.9.1
  geolocator: ^14.0.2

  hive: ^2.2.3
  hive_flutter: ^1.1.0

  go_router: ^17.0.0

  flutter_local_notifications: ^19.5.0
  flutter_background_service: ^5.1.0

  rxdart: ^0.28.0

  dynamic_color: ^1.6.9
  file_picker: ^10.3.7
  vibration: ^3.1.4
  audioplayers: ^6.4.1
  uuid: ^4.5.2

  device_info_plus: 11.2.0
  path_provider: ^2.1.3
  permission_handler: ^12.0.1
  intl: ^0.20.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  build_runner: ^2.4.13
  riverpod_generator: ^2.4.0
  hive_generator: ^2.0.1