name: Flutter Build & Release

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.4'
          channel: 'stable'

      - name: Get Dependencies
        run: flutter pub get

      - name: Build Runner
        run: flutter pub run build_runner build --delete-conflicting-outputs

      - name: Build APK & AAB
        run: |
          flutter build apk --release
          flutter build appbundle --release

      
      - name: Rename Artifacts
        run: |
          mv build/app/outputs/flutter-apk/app-release.apk Triggeo_${{ github.ref_name }}.apk
          mv build/app/outputs/bundle/release/app-release.aab Triggeo_${{ github.ref_name }}.aab

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ secrets.Release }}
          files: Triggeo_v*.* 
          generate_release_notes: false